body{
    background-color: #0f0f0f;
    font-family:  Calibri,  sans-serif;
    /* cursor: none; */
    overflow-x: hidden;
}
.cursor{
    width: 30px;
    height: 30px;
    border: 2px solid #00ff88;
    border-radius: 50%;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: width 3.0s ease, height 0.3s ease, border-width 0.3s ease;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px #00ff88, 0 0 40px #00ff88;
    z-index: 100000;
    pointer-events: none;
}
html{
    scroll-behavior: smooth;
}
a{
     text-decoration: none;
}
header{
    background-color: black;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
}
.logo{
    color: #00ff88;
    align-content: center;
}
.nav{
    display: flex;
    color: #f5f5f5;
    gap: 2rem;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-right: 20rem;
    padding-left: 20rem;
}
.icons{
       /* text-align:right; */
       align-content: center; 
}
.i1{
   color:#f5f5f5;
   margin: 5px;
}
.name{
    color: #f5f5f5;
    font-size: 3rem;
    font-family:  Calibri;
    margin-top: 5rem;
    margin-bottom: 25px;
    margin-left: 10px;
}
.developer{
    color: #00ff88;
    font-size: 20px;
    margin-left: 9px;
}
.para{
    color:#f5f5f5;
    width: 80%;
    margin-left: 9px;
    font-size: 19px;
    text-align: justify;
}
.colHead{
    display: flex;
    color: #00ff88;
    
   
}
.col{
 margin: 10px;
background-color: #002011da;
border: 1px solid rgb(3, 95, 3);
border-radius: 50px;
height: 30px;
width: 80px;
font-size: 12px;
text-align: center;
align-content: center;
}
.btn{
    color: black;
    background-color: #00ff88;
    border-radius: 50px;
    border: 0px;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    width: 250px;
    margin-left: 20px;
    margin-top: 10px;
}
/* .btn:hover{
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: 0 0 20px rgb(0 255 87 / 60%);
} */
.image{
    margin-right: 30px;
    margin-top: 30px;
    height: auto;
    border-radius: 50%;
    box-shadow: #00ff88 0px 0px 15px;
}
.image:hover{
     transform: scale(1.05);
     transition: transform 0.3s ease;
}
.block1{
    width: 60%;
}
.block2{
    width: 40%;
}
.skill{
    color: #f5f5f5;
    font-size: 4rem;
    font-family:  Calibri;
   text-align: center ;
   margin-bottom: 1px;
}
hr{
    width: 10%;
    border: 2px solid #00ff88;
}
.skills{
    color: #00ff88;
    text-shadow: #00ff88 0px 0px 5px;
    background-color: #1e1e1e;
    margin: 10px;
    width: 20%;
    height: 150px;
    font-size: 30px;
    text-align: center;
    align-content: center;
}
.h6{
    color: white;
     text-shadow: #00ff88 0px 0px 0px;
     margin-top: 5px;
     margin-bottom: 2px;
     font-size: 15px ;
}
.info{
    text-align: center;
    color:#f5f5f5b2;
}

.container{
    display: flex;
    gap:10px;
    justify-content: center;
    height: 25rem;

}
.box{
    width: 30%;
    height: 255px;
}
.in{
    background-color:#1e1e1e;
    border-radius: 10px;
    margin-left: 20px;
    margin: 10px;
    padding: 2px;
    width: 90%;
    height: 80px;
}
.box1{
     width: 45%;
    height: 250px;
}
.h5{
    color:white;
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 1px;
    margin-top: 7px;
}
.ph{
    margin-left: 50px;
    margin-top: 2px;
    color:#f5f5f5b9
}
input{
    width: 80%;
    height: 30px;
    margin: 7px; 
    margin-top: 10px;
    background-color:#1e1e1e;
    color: white;
    border-radius: 10px ;
    padding-left: 10px;
}
.ab{
   padding-bottom :5rem;
    text-align: justify;
}
.btn1{
    color: black;
    background-color: #00ff88;
    border-radius: 50px;
    width: 70%;
    height: 40px;
    border: 0px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 50px;
}
.btn1:hover{
    background-color:black;
    color:#00ff88;
    border: 2px solid #00ff88;
    transform: scale(1.1);
    transition: 0.3s;
}
.a1{
    color: white;
    text-decoration: none;
}
.s1{
    margin-top: 50px;
    margin-bottom: 50px;
}
.s2{
    padding-top: 50px;
}
/* .s3{

} */
 .foot{
     height: 180px;
     display: flex;
     gap: 20px;
}
 .aboutMe{
    width: 33%;
    height: 170px;
 }
 .quickLinks{
     width: 33%;
     height: 170px;
 }
.connect{
     width: 33%;
     height: 170px;
}

.me{
    color: #00ff88;
    font-size: 35px;
    margin-left: 20px;
    margin-bottom: 10px;
    text-shadow: 0px 0px 4px #00ff88;
}
.mypara{
    margin-left: 20px;
    color:#f5f5f5;
       
}
.quick{
    font-size: 35px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: white;
}
.qlink{
    text-decoration: none;
     margin-left: 20px;
     color:#f5f5f5;
     padding: 10px;
}
.con{
    font-size: 35px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: white;
}
.conIcon{
    color:#f5f5f5;
    margin: 10px;
}
.copyright{
    color: whitesmoke;
    margin-left: 20px;
    font-size: 15px;
}



